<div class="modal fade in" id="store-locator-modal" tabindex="-1" role="dialog" aria-hidden="false"
     style="padding-right: 15px;">
    <div class="modal-backdrop  fade in" style="height: 1002px;"></div>
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header trench clean trench-medium">
                <div class="find-a-store-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true"
                                                                                                   class="icon-close"></i>
                    </button>
                    <div class="v-spacing-medium">
                        <h4 class="modal-title">Find a Store</h4>
                    </div>
                    <form id="store-locator-form" class="js-store-locator-form">
                        <input type="hidden" name="latitude" value="35.2054902">
                        <input type="hidden" name="longitude" value="-80.86117008">
                        <div class="form-group">
                            <div class="input-group">
                                <input id="search-box" type="text" name="searchTerm" class="form-control"
                                       aria-describedby="ada-storelocator-describedby"
                                       aria-labelledby="ada-storelocator-describedby"
                                       placeholder="ZIP Code or City, State" autocompletetype="storelocator"
                                       autofocus="">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-primary" data-linkid="find-a-store-mechanism"
                                            type="submit">Find</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="js-SL-modal-body">
                <div class="modal-body find-a-store-modal-body">
                    <div class="js-SL-list find-a-store-list">
                        <ul>
                            <li class="">
                                <div class="media v-spacing-small">
                                    <div class="media-body">
                                        <address>
                                            <a href="https://www.lowes.com/store/NC-Charlotte/2348" title="Central Charlotte Lowe's"
                                               data-linkid="store-2348" class="v-spacing-mini display-block">Central
                                                Charlotte Lowe's</a>
                                            <span>217 Iverson Way</span><br>
                                            <span>Charlotte, NC</span>
                                        </address>
                                    </div>
                                    <div class="media-right media-middle">
                                        <span class="btn-group centered"><i class="icon-check-filled tealBlue"
                                                                            aria-hidden="true"></i> MY STORE</span>
                                    </div>
                                </div>
                                <hr class="v-spacing-small background-grey">
                            </li>
                            <li class="">
                                <div class="media v-spacing-small">
                                    <div class="media-body">
                                        <address>
                                            <a href="/store/NC-Charlotte/1060" title="S.W. Charlotte Lowe's"
                                               data-linkid="store-1060" class="v-spacing-mini display-block">S.W.
                                                Charlotte Lowe's</a>
                                            <span>8192 South Tryon St</span><br>
                                            <span>Charlotte, NC</span>
                                        </address>
                                        <small class="strong">8.5 mi</small>
                                    </div>
                                    <div class="media-right media-middle">
                                        {{!-- <button data-linkid="shop-this-store" data-store-number="1060"
                                                class="js-store-locator-select-store btn btn-primary btn-small">Shop
                                            This Store
                                        </button> --}}
                                        <button data-store-number="1060" class="store-locator-select btn btn-primary btn-small">Shop
                                            This Store</button>
                                    </div>
                                </div>
                                <hr class="v-spacing-small background-grey">
                            </li>
                            <li class="">
                                <div class="media v-spacing-small">
                                    <div class="media-body">
                                        <address>
                                            <a href="/store/NC-Charlotte/1920" title="E. Charlotte Lowe's"
                                               data-linkid="store-1920" class="v-spacing-mini display-block">E.
                                                Charlotte Lowe's</a>
                                            <span>8826 Albemarle Rd</span><br>
                                            <span>Charlotte, NC</span>
                                        </address>
                                        <small class="strong">11.1 mi</small>
                                    </div>
                                    <div class="media-right media-middle">
                                        <button data-linkid="shop-this-store" data-store-number="1920"
                                                class="store-locator-select btn btn-primary btn-small">Shop
                                            This Store
                                        </button>
                                    </div>
                                </div>
                                <hr class="v-spacing-small background-grey">
                            </li>
                            <li class="">
                                <div class="media v-spacing-small">
                                    <div class="media-body">
                                        <address>
                                            <a href="/store/NC-Charlotte/2352" title="Charlotte - Northlake Mall Lowe's"
                                               data-linkid="store-2352" class="v-spacing-mini display-block">Charlotte -
                                                Northlake Mall Lowe's</a>
                                            <span>10275 Perimeter Pkwy</span><br>
                                            <span>Charlotte, NC</span>
                                        </address>
                                        <small class="strong">11.9 mi</small>
                                    </div>
                                    <div class="media-right media-middle">
                                        <button data-linkid="shop-this-store" data-store-number="2352"
                                                class="store-locator-select btn btn-primary btn-small">Shop
                                            This Store
                                        </button>
                                    </div>
                                </div>
                                <hr class="v-spacing-small background-grey">
                            </li>
                            <li class="">
                                <div class="media v-spacing-small">
                                    <div class="media-body">
                                        <address>
                                            <a href="/store/NC-Charlotte/0408" title="N. Charlotte Lowe's"
                                               data-linkid="store-0408" class="v-spacing-mini display-block">N.
                                                Charlotte Lowe's</a>
                                            <span>1100 Chancellor Park Dr</span><br>
                                            <span>Charlotte, NC</span>
                                        </address>
                                        <small class="strong">12.1 mi</small>
                                    </div>
                                    <div class="media-right media-middle">
                                        <button data-linkid="shop-this-store" data-store-number="0408"
                                                class="store-locator-select btn btn-primary btn-small">Shop
                                            This Store
                                        </button>
                                    </div>
                                </div>
                                <hr class="v-spacing-small background-grey">
                            </li>
                            <li class="display-none js-sL-list-item-unhide">
                                <div class="media v-spacing-small">
                                    <div class="media-body">
                                        <address>
                                            <a href="/store/NC-Belmont/2650" title="Belmont Lowe's"
                                               data-linkid="store-2650" class="v-spacing-mini display-block">Belmont
                                                Lowe's</a>
                                            <span>200 Caldwell Farm Rd</span><br>
                                            <span>Belmont, NC</span>
                                        </address>
                                        <small class="strong">12.6 mi</small>
                                    </div>
                                    <div class="media-right media-middle">
                                        <button data-linkid="shop-this-store" data-store-number="2650"
                                                class="store-locator-select btn btn-primary btn-small">Shop
                                            This Store
                                        </button>
                                    </div>
                                </div>
                                <hr class="v-spacing-small background-grey">
                            </li>
                            <li class="display-none js-sL-list-item-unhide">
                                <div class="media v-spacing-small">
                                    <div class="media-body">
                                        <address>
                                            <a href="/store/NC-Charlotte/0377" title="Pineville Lowe's"
                                               data-linkid="store-0377" class="v-spacing-mini display-block">Pineville
                                                Lowe's</a>
                                            <span>10625 Mcmullen Creek Pkwy</span><br>
                                            <span>Charlotte, NC</span>
                                        </address>
                                        <small class="strong">13.2 mi</small>
                                    </div>
                                    <div class="media-right media-middle">
                                        <button data-linkid="shop-this-store" data-store-number="0377"
                                                class="store-locator-select btn btn-primary btn-small">Shop
                                            This Store
                                        </button>
                                    </div>
                                </div>
                                <hr class="v-spacing-small background-grey">
                            </li>
                            <li class="display-none js-sL-list-item-unhide">
                                <div class="media v-spacing-small">
                                    <div class="media-body">
                                        <address>
                                            <a href="/store/NC-Matthews/1124" title="S.E. Charlotte Lowe's"
                                               data-linkid="store-1124" class="v-spacing-mini display-block">S.E.
                                                Charlotte Lowe's</a>
                                            <span>2115 Matthews Township Pkwy</span><br>
                                            <span>Matthews, NC</span>
                                        </address>
                                        <small class="strong">13.5 mi</small>
                                    </div>
                                    <div class="media-right media-middle">
                                        <button data-linkid="shop-this-store" data-store-number="1124"
                                                class="store-locator-select btn btn-primary btn-small">Shop
                                            This Store
                                        </button>
                                    </div>
                                </div>
                                <hr class="v-spacing-small background-grey">
                            </li>
                            <li class="display-none js-sL-list-item-unhide">
                                <div class="media v-spacing-small">
                                    <div class="media-body">
                                        <address>
                                            <a href="/store/SC-Fort-Mill/2442" title="Fort Mill Lowe's"
                                               data-linkid="store-2442" class="v-spacing-mini display-block">Fort Mill
                                                Lowe's</a>
                                            <span>1640 Highway 160 West</span><br>
                                            <span>Fort Mill, SC</span>
                                        </address>
                                        <small class="strong">15.6 mi</small>
                                    </div>
                                    <div class="media-right media-middle">
                                        <button data-linkid="shop-this-store" data-store-number="2442"
                                                class="store-locator-select btn btn-primary btn-small">Shop
                                            This Store
                                        </button>
                                    </div>
                                </div>
                                <hr class="v-spacing-small background-grey">
                            </li>
                            <li class="display-none js-sL-list-item-unhide">
                                <div class="media v-spacing-small">
                                    <div class="media-body">
                                        <address>
                                            <a href="/store/NC-Charlotte/1112" title="S. Charlotte Lowe's"
                                               data-linkid="store-1112" class="v-spacing-mini display-block">S.
                                                Charlotte Lowe's</a>
                                            <span>5310 Ballantyne Commons Pkwy</span><br>
                                            <span>Charlotte, NC</span>
                                        </address>
                                        <small class="strong">19.5 mi</small>
                                    </div>
                                    <div class="media-right media-middle">
                                        <button data-linkid="shop-this-store" data-store-number="1112"
                                                class="store-locator-select btn btn-primary btn-small">Shop
                                            This Store
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer trench clean trench-medium js-sL-modal-footer-hide">
                    <div class="align-center">
                        <form class="js-store-locator-view-more-stores" action="#">
                            <button class="btn btn-secondary" type="submit">View More</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

