<div class="modal fade in" id="store-locator-modal" tabindex="-1" role="dialog" aria-hidden="false"
     style="padding-right: 15px;">
    <div class="modal-backdrop  fade in" style="height: 1002px;"></div>
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header trench clean trench-medium">
                <div class="find-a-store-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true"
                                                                                                   class="icon-close"></i>
                    </button>
                    <div class="v-spacing-medium">
                        <h4 class="modal-title">Find a Store</h4>
                    </div>
                </div>
            </div>
            <div class="js-SL-modal-body">
                <div class="modal-body find-a-store-modal-body">
                    <div class="js-SL-list find-a-store-list">
                        <ul>
                            <li class="">
                                <div class="media v-spacing-small">
                                    <div class="media-body">
                                        <address>
                                            <a href="/store/NC-Mooresville/595" title="Mooresville Lowe's"
                                               data-linkid="store-595" class="v-spacing-mini display-block">Mooresville Lowe's</a>
                                            <span>509 River Highway</span><br>
                                            <span>Mooresville, NC</span>
                                        </address>
                                    </div>
                                    <div class="media-right media-middle">
                                        <div class="spinner-div loading-spinner" style="display: none;"></div>
                                        <button data-linkid="shop-this-store" data-store-number="595"
                                                class="store-locator-select btn btn-primary btn-small">Shop
                                            This Store
                                        </button>
                                    </div>
                                </div>
                                <hr class="v-spacing-small background-grey">
                            </li>
                            <li class="">
                                <div class="media v-spacing-small">
                                    <div class="media-body">
                                        <address>
                                            <a href="/store/IL-Arlington-Heights/2529" title="Arlington Heights Lowe's"
                                               data-linkid="store-2529" class="v-spacing-mini display-block">Arlington Heights Lowe's</a>
                                            <span>990 West Algonquin Rd</span><br>
                                            <span>Arlington Heights, IL</span>
                                        </address>
                                    </div>
                                    <div class="media-right media-middle">
                                        <div class="spinner-div loading-spinner" style="display: none;"></div>
                                        <button data-linkid="shop-this-store" data-store-number="2529"
                                                class="store-locator-select btn btn-primary btn-small">Shop
                                            This Store
                                        </button>
                                    </div>
                                </div>
                                <hr class="v-spacing-small background-grey">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

